.label {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.img {
  width: 400px;
  object-fit: contain;
}

.fileInput {
  display: none;
}

.inputBox {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 8px;
}
