.label {
  width: var(--img-width);
  height: var(--img-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.img {
  width: var(--img-width);
}

.fileInput {
  display: none;
}

.inputBox {
  width: var(--img-width);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 8px;
}
