.inputList {
  position: absolute;
  border: 0;
  background-color: transparent;
  outline: none;
  z-index: 1;
}
.inputList:focus {
  border: 1px solid gray;
  border-radius: 6px;
}

.textBox {
  /* border: 10px solid gray; */
  position: absolute;
  display: inline-block;
  box-sizing: content-box;
  cursor: grabbing;
  z-index: 0;
}
